[*.cs]

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1633: File header is missing
dotnet_diagnostic.SA1633.severity = none

# SA1512: Single line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = none

# SA1005: Single line comments should begin with a space
dotnet_diagnostic.SA1005.severity = none

# SA1010: Opening square brackets should not be preceded by a space 
dotnet_diagnostic.SA1010.severity = none

# SA1101: Prefix local calls with this 
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none
