@page "/log-viewer"

@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.SignalR.Client;
@using TransfermarktScraper.Web.Configuration

@inject NavigationManager NavigationManager
@inject IOptions<ClientSettings> ClientSettings
@implements IDisposable

<h3>LogViewer</h3>


<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6">Logs Console</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Close"
                       Href="/"
                       Target="_self" />
    </MudAppBar>

    <MudMainContent>
        <MudPaper Class="pa-4">
            @foreach (var log in _logs)
            {
                <MudText>@log</MudText>
            }
        </MudPaper>
    </MudMainContent>
</MudLayout>

@code {
    private List<string> _logs = new();
    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        var url = string.Concat(ClientSettings.Value.HostUrl, "/logs");

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(url)
            .Build();

        _hubConnection.On<string>("ReceiveLog", async log =>
        {
            await InvokeAsync(() =>
            {
                _logs.Add(log);
                StateHasChanged();
            });
        });

        await _hubConnection.StartAsync();
    }

    public void Dispose()
    {
        _hubConnection?.DisposeAsync();
    }
}
