@page "/log-viewer"

@using TransfermarktScraper.Web.Clients.Interfaces

@inject ILogClient LogClient

<h3>Log Viewer</h3>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudText Typo="Typo.h6">Logs Console</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Close"
                       Href="/"
                       Target="_self" />
    </MudAppBar>

    <MudMainContent>
        <MudPaper Class="pa-4">
            @foreach (var log in _logs)
            {
                <MudText>@log</MudText>
            }
        </MudPaper>
    </MudMainContent>
</MudLayout>

@code {
    private readonly List<string> _logs = new();

    protected override async Task OnInitializedAsync()
    {
        LogClient.OnLogReceived += HandleLogReceived;
        await LogClient.StartAsync();
    }

    private void HandleLogReceived(string log)
    {
        InvokeAsync(() =>
        {
            _logs.Add(log);
            StateHasChanged();
        });
    }

    public async ValueTask DisposeAsync()
    {
        LogClient.OnLogReceived -= HandleLogReceived;
        await LogClient.DisposeAsync();
    }
}
